.heading
{
font-size: 30px;
width: 100%;
margin: 0px;
}

.nav
{
margin: 70px;
font-size: 25px;
width: 900px;
border-radius: 75px;
}

body
{
background-size:cover;
}

canvas
{
box-shadow: 5px 5px 5px lightslategray;
border-radius: 20px;
}

img
{
    width: 700px;
    float: left;
    margin-bottom: 0px;
    bottom: 0px;
}